<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/javascripts/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/javascripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script  src='/javascripts/jquery/dist/jquery.js'></script>
    <script  src='/javascripts/jquery-ui/jquery-ui.js'></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/javascripts/select2/dist/js/select2.min.js"></script>
    <script src="/javascripts/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <link rel='stylesheet' href="/javascripts/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
